apiVersion: v1
kind: Service
metadata:
  name: api
  namespace: music-charts
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
  selector:
    app: api

